
<div class="fondo"></div>

<div class="cuadrito centrado">
    <h1 style="text-align:center;padding-top:10px;">Bienvenido</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="col-lg-12">

    <p>
        <input placeholder="Usuario" type="text" name="username" #username="ngModel" [(ngModel)]="input.username" class="form-control" required>
    </p>
    <p>
        <input placeholder="Contraseña" type="password" name="passwordl" #password="ngModel" [(ngModel)]="input.password" class="form-control"
            required>
    </p>
    
    <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                    <input style="margin-bottom:20px; " type="submit" value="Iniciar sesión" name="" class="btn btn-primary" [disabled]="!loginForm.form.valid">
            </div>
            <div class="col-lg-4"></div>
        </div>
    
    
    

    </form>
</div>